<div class="form-container">
  <mat-tab-group>
    <mat-tab label="{{ 'lblStudent' | translate }}">
      <form (ngSubmit)="registerStudent()" #studentForm="ngForm">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'lblUserName' | translate }}</mat-label>
          <input matInput type="text" [(ngModel)]="student.username" name="username" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{ 'lblPassword' | translate }}</mat-label>
          <input matInput type="password" [(ngModel)]="student.password" name="password" required>
        </mat-form-field>
        <mat-password-strength #studentPass
          [password]="student.password"
          [enableLengthRule]="true"
          [enableLowerCaseLetterRule]="true"
          [enableUpperCaseLetterRule]="true"
          [warnThreshold]="60">
        </mat-password-strength>
        <mat-password-strength-info
              [lowerCaseCriteriaMsg]="'LOWER_CASE_CRITERIA_MSG' | translate"
              [upperCaseCriteriaMsg]="'UPPER_CASE_CRITERIA_MSG'| translate"
              [digitsCriteriaMsg]="'DIGITS_CRITERIA_MSG'| translate"
              [specialCharsCriteriaMsg]="'SPECIAL_CHARS_CRITERIA_MSG' | translate"
              [minCharsCriteriaMsg]="'MIN_CHARS_CRITERIA_MSG' | translate"
              [passwordComponent]="studentPass">
        </mat-password-strength-info>
        <mat-form-field appearance="fill">
          <mat-label>{{ 'lblFirstName' | translate }}</mat-label>
          <input matInput type="text" [(ngModel)]="student.firstName" name="firstName" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{ 'lblMiddleName' | translate }}</mat-label>
          <input matInput type="text" [(ngModel)]="student.middleName" name="middleName" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{ 'lblLastName' | translate }}</mat-label>
          <input matInput type="text" [(ngModel)]="student.lastName" name="lastName" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{ 'lblGroup' | translate }}</mat-label>
          <mat-select [(ngModel)]="student.groupId" name="groupId" required>
            <mat-option *ngFor="let group of groups" [value]="group.entryId">{{ group.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!studentForm.valid">{{ 'lblRegisterStudent' | translate }}</button>
      </form>
    </mat-tab>
    <mat-tab label="{{ 'lblTeacher' | translate }}">
      <form (ngSubmit)="registerTeacher()" #teacherForm="ngForm">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'lblUserName' | translate }}</mat-label>
          <input matInput type="text" [(ngModel)]="teacher.username" name="username" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{ 'lblPassword' | translate }}</mat-label>
          <input matInput type="password" [(ngModel)]="teacher.password" name="password" required >
        </mat-form-field>
        <mat-password-strength #teacherPass
          [password]="teacher.password"
          [enableLengthRule]="true"
          [enableLowerCaseLetterRule]="true"
          [enableUpperCaseLetterRule]="true"
          [warnThreshold]="60">
        </mat-password-strength>
        <mat-password-strength-info
              [lowerCaseCriteriaMsg]="'LOWER_CASE_CRITERIA_MSG' | translate"
              [upperCaseCriteriaMsg]="'UPPER_CASE_CRITERIA_MSG'| translate"
              [digitsCriteriaMsg]="'DIGITS_CRITERIA_MSG'| translate"
              [specialCharsCriteriaMsg]="'SPECIAL_CHARS_CRITERIA_MSG' | translate"
              [minCharsCriteriaMsg]="'MIN_CHARS_CRITERIA_MSG' | translate"
              [passwordComponent]="teacherPass">
        </mat-password-strength-info>
        <mat-form-field appearance="fill">
          <mat-label>{{ 'lblFirstName' | translate }}</mat-label>
          <input matInput type="text" [(ngModel)]="teacher.firstName" name="firstName" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{ 'lblMiddleName' | translate }}</mat-label>
          <input matInput type="text" [(ngModel)]="teacher.middleName" name="middleName" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{ 'lblLastName' | translate }}</mat-label>
          <input matInput type="text" [(ngModel)]="teacher.lastName" name="lastName" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{ 'lblCafedra' | translate }}</mat-label>
          <mat-select [(ngModel)]="teacher.cafedraId" name="cafedraId" required>
            <mat-option *ngFor="let cafedra of cafedras" [value]="cafedra.entryId">{{ cafedra.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!teacherForm.valid">{{ 'lblRegisterTeacher' | translate }}</button>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>
