

* {
    color: rgba(33, 61, 76, 1);
}

.sidenav-container {
    height: 100%;
    display: flex;
    box-sizing: border-box;
}

.mat-sidenav {
    width: 200px;
}

.main-content {
    height: fit-content;
    padding: 55px 70px;
    flex-grow: 1;
}

.logout-button {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.sidebar-content {
    overflow: hidden;
}


::ng-deep mat-sidenav-content {
    margin-left: 300px !important;
    background: white !important;
    border-radius: 15px !important;
    margin-top: 30px !important;
    height: 93% !important;
    width: 1450px !important;
    box-shadow: 0px 2px 11.2px 0px rgba(0, 0, 0, 0.1) !important;
}


::ng-deep .dark-theme mat-sidenav-content {
    background: #807b6f !important;
}

::ng-deep mat-sidenav-container, mat-sidenav, body {
    background-color: rgba(225, 234, 248, 1) !important;
}

body {
    background-color: rgba(225, 234, 248, 1) !important;
}

::ng-deep .dark-theme {

    mat-sidenav-container,
    mat-sidenav,
    body {
        background-color: #454442 !important;
    }
}


::ng-deep mat-sidenav {
    width: 260px !important;
    outline: 1px solid red;
    border: none !important;
    margin-left: 20px !important;
    padding-top: 40px !important;
}

::ng-deep .mat-drawer-inner-container {
    overflow: hidden !important;
}

.uni-logo-container {
    display: flex;
    flex-direction: row;

    span {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 400;
    }
}

::ng-deep mat-list-item {
    width: 200px;
    height: 40px;
    border-radius: 5px;
}

::ng-deep .mat-mdc-list-item-unscoped-content {
    display: flex;
    align-items: center;
    gap: 13px;
}


::ng-deep .mdc-label {
    margin-left: 10px !important;
    font-weight: 400;
    font-size: 16px;
}

.current-user-mini-container {
    display: flex;
    flex-direction: row;
    img {
        border-radius: 10px;
        width: 40px;
        height: 40px;
    }
}

.current-user-mini-text {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
}

.not-bold {
    font-weight: 300;
}

::ng-deep .mat-mdc-select {
    padding-top: 20px !important;
}

.logout-button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 150px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
}

.selected-option {
    background-color: white;
    box-shadow: 0px 2px 11.2px 0px rgba(0, 0, 0, 0.1);
}

::ng-deep .dark-theme .selected-option {
    background: #8f8b82 !important;
}

::ng-deep .dark-theme * {
    color:white !important;
}

::ng-deep .dark-theme .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #807b6f !important;
}

::ng-deep .dark-theme .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #807b6f !important;
}

::ng-deep .dark-theme .mat-mdc-option.mdc-list-item {
    background-color: #454442 !important
}

::ng-deep .dark-theme .logout-button {
    background-color: #807b6f;
}

::ng-deep .dark-theme div.mat-mdc-select-panel {
    background-color: #454442;
}

::ng-deep .dark-theme mat-calendar {
    background-color: #454442 !important;
}