.filters {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

::ng-deep .analytics-page mat-slide-toggle {
    margin-top: 17px;
}

::ng-deep .analytics-page .mat-slide-toggle {
    height: 56px !important;
}

::ng-deep .analytics-page .mat-mdc-text-field-wrapper {
    height: 56px !important;
}

::ng-deep .mat-mdc-select {
    padding-top: 10px !important;
}

::ng-deep .filters {
    .mat-mdc-select {
        padding-top: 0px !important;
    }
}

::ng-deep .analytics-page .mat-mdc-select-arrow-wrapper {
    margin-top: -7px !important;
}

.apply-button {
    margin-top: 10px;
}

.filter-couple {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

::ng-deep .mat-mdc-tab-body-content {
    overflow: hidden !important;
}

::ng-deep mat-tab-body {
    padding-top: 20px !important;
}

