<div *ngIf="Role==='Teacher'">
    <div class="form-container">
        <img class="avatarImage" *ngIf="CurrentUser?.teacher.avatarImage" [src]="CurrentUser.teacher.avatarImage" alt="User Avatar">
        <div class="field-group">
            <div>{{ 'lblFirstName' | translate }}: {{CurrentUser.teacher.firstName}}</div>
            <div>{{ 'lblBirthDate' | translate }}: {{CurrentUser.teacher.birthDate}}</div>
        </div>
        <div class="field-group">
            <div>{{ 'lblMiddleName' | translate }}: {{CurrentUser.teacher.middleName}}</div>
            <div>{{ 'lblCafedra' | translate }}: {{Cafedra['name']}}</div>
        </div>
        <div class="field-group">
            <div>{{ 'lblLastName' | translate }}: {{CurrentUser.teacher.lastName}}</div>
            <div>{{ 'lblEmail' | translate }}: {{CurrentUser.teacher.email}}</div>
        </div>
        <div class="field-group">
            <div></div>
            <div>{{ 'lblPhone' | translate }}: {{CurrentUser.teacher.phone}}</div>
        </div>
    </div>
    <p>{{'lblAssignmentsQuantityForTeacher' | translate}}</p>
    <div class="disciplines-table">
        <table mat-table [dataSource]="disciplines" class="mat-elevation-z8">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> {{ 'lblName' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Assignments Column -->
            <ng-container matColumnDef="assignments">
            <th mat-header-cell *matHeaderCellDef> {{ 'lblAssignments' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.assignments.length}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

</div>

<div *ngIf="Role==='Student'">
    <div class="form-container">
        <img class="avatarImage" *ngIf="CurrentUser?.student.avatarImage" [src]="CurrentUser.student.avatarImage" alt="User Avatar">
        <div class="field-group">
            <div>{{ 'lblFirstName' | translate }}: {{CurrentUser.student.firstName}}</div>
            <div>{{ 'lblBirthDate' | translate }}: {{CurrentUser.student.birthDate}}</div>
        </div>
        <div class="field-group">
            <div>{{ 'lblMiddleName' | translate }}: {{CurrentUser.student.middleName}}</div>
        </div>
        <div class="field-group">
            <div>{{ 'lblLastName' | translate }}: {{CurrentUser.student.lastName}}</div>
            <div>{{ 'lblEmail' | translate }}: {{CurrentUser.student.email}}</div>
        </div>
        <div class="field-group">
            <div></div>
            <div>{{ 'lblPhone' | translate }}: {{CurrentUser.student.phone}}</div>
        </div>
        <div class="field-group">
            <div>{{ 'lblGroup' | translate }}: {{Group['name']}}</div>
            <div>{{ 'lblCafedra' | translate }}: {{Cafedra['name']}}</div>
        </div>
    </div>

    <p>{{'lblTenMostRecentGrades' | translate}}</p>
   <div class="disciplines-table">
    <table mat-table [dataSource]="assignments" class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> {{ 'lblName' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Grade Column -->
        <ng-container matColumnDef="grade">
            <th mat-header-cell *matHeaderCellDef> {{ 'lblGrade' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.grade}} </td>
        </ng-container>

        <!-- Discipline Name Column -->
        <ng-container matColumnDef="disciplineName">
            <th mat-header-cell *matHeaderCellDef> {{ 'lblDiscipline' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.discipline?.name}} </td>
        </ng-container>


       <ng-container matColumnDef="gradeDate">
            <th mat-header-cell *matHeaderCellDef> {{ 'lblGradeDate' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{ GetFormattedDate(element.gradeDate) }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedAssignmentsColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedAssignmentsColumns;"></tr>
    </table>
</div>

</div>